<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <script type="text/javascript" th:src="@{/admin.js}" defer></script>
    <script type="text/javascript" th:src="@{/script.js}" defer></script>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="adminClass"></div>
    <h1 class="center">Välkommen till vår förening</h1>

    <div class="links">
        <a th:href="@{/list}">Lista</a>
        <a class="adminLink" th:href="@{/membercontrol}">Hantera medlemmar</a>
        <a th:href="@{/admin}">Admin login</a>
    </div>
</body>
</html>