<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medlemslista</title>
</head>
<body>
    <h1>Temp text för Medlemslista</h1>
    <a th:href="@{/}">Startsida</a>
    <a th:href="@{/membercontrol}">Hantera medlemmar</a>
    <h2>Medlemmar:</h2>
    <ul>
        <li th:each="item : ${members}">
            <span th:text="|${item.name}, ${item.age}|"></span>
        </li>
    </ul>
</body>
</html>