<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage members</title>
    <script type="text/javascript" th:src="@{/admin.js}" defer></script>
</head>
<body>
    <div class="adminClass"></div>
    <h1>Hantera medlemmar temp text</h1>

    <a th:href="@{/}">Startsida</a>
    <a th:href="@{/list}">Lista</a>
    <a th:href="@{/admin}">Admin login</a>

    <form method="post" th:action="@{/new-member}" th:object="${newMember}">
        <span>Namn:</span>
        <input type="text" th:field="*{name}">
        <span>Ålder:</span>
        <input type="text" th:field="*{age}" th:value="''">
        <input type="submit">
    </form>

</body>
</html>